{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@api": "./src/apis",
          "@component": "./src/components",
          "@page": "./src/pages",
          "@layout": "./src/layout",
          "@source": "./src"
        }
      }]
    ]
  }