.container--list-product {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.container--product-cart {
    flex: 0 0 calc(20% - 20px); // Trừ đi 20px để bù lại margin hai bên
    max-width: 'calc(20% - 20px)';
    box-sizing: border-box;
    margin: 10px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.product-grid-item__price {
    display: block;
}

.button--add-cart {
    padding: 6px 16px;
    border: 0;
    border-radius: 20px;
    color: #FFF;
    background-color: rgb(255, 193, 7);
    font-weight: bold;
}

.category-navigation-bar {
    background-color: #be9007;

    .category-item {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        align-items: center;
        width: 8%;
        cursor: pointer;
    }
    .category-item .image-container {
        width: 80px;
        height: 80px;
        background-color: #eec548;
        padding: 10px;
        border-radius: 50px;
    }
    .category-item .image {
        width: 75%;
        height: 75%;
    }
    .category-item .category-name {
        color: #FFF;
        text-align: center;
    }
}

.subtab-category {
    .text--subtab-category {
        font-size: 16px;
    }
}



.tab {
    font-size: 20px;
    padding: 0 10px;
}

.tab-focus {
    color: #F38C11;
    font-weight: bold;
    border-bottom: 3px solid #F38C11;
}

.container--order-detail {

    margin: 0 !important;


}

.container--order-detail .ant-modal-content,
.container--order-detail,
.ant-modal {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    border-radius: unset;
    padding: 0;
}

.ant-modal-body {
    height: 100%;
}

.content--order-detail {
    padding-top: 75px;
}

.wrap--btn-back {
    position: absolute;
    top: 25px;
    left: 25px;

    .btn-back {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #D9D9D9;
        border-radius: 25px;
        background-color: transparent;
    }

    .btn-back:hover {
        background-color: #e9ecef;
    }
}




.container-cart {
    background-color: rgb(255, 193, 7);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px
}


.container-noti__added {
    width: 300px;
    height: 300px;
    border-radius: 999px;
    background-color: red;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
    z-index: 1000;
}

.btn-add-cart {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(255, 193, 7);
    border: none;
}

.container--input-control {
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}